* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
    background-color: #fefefe;
}


/* burger icon */

.burger {
    display: inline-block;
    cursor: pointer;
    z-index: 2;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 5px;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: black;
}

.change .bar2 {
    opacity: 0;
    background-color: black;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: black;
}


/* wraper */

.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    padding: 0;
    box-shadow: 1px 2px 10px 2px rgba(0, 0, 0, 0.1);
    background-color: rgb(4, 40, 80);
}

nav .brand a {
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: 550;
}

.bg-sidebar {
    top: 0;
    right: -100%;
    bottom: 0;
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    visibility: hidden;
}

.bg-sidebar.change {
    right: 0;
    visibility: visible;
    display: block;
}

nav ul {
    display: flex;
    position: fixed;
    background-color: white;
    top: 0;
    bottom: 0;
    right: -300px;
    width: 300px;
    transition: 0.5s;
    align-items: flex-start;
    flex-direction: column;
}

nav ul.change {
    right: 0;
    transition: 0.5s;
}

nav ul li {
    list-style: none;
    padding: 20px 15px;
}

nav ul li a {
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
}

nav ul li a:hover {
    color: red;
}

@media screen and (min-width: 960px) {
    .bg-sidebar.change {
        right: 0;
        visibility: hidden;
        display: none;
    }
    .burger {
        display: none;
    }
    nav {
        position: relative;
    }
    nav ul {
        display: flex;
        position: relative;
        background-color: unset;
        top: unset;
        bottom: unset;
        right: unset;
        width: unset;
        flex-direction: row;
    }
    nav ul li {
        padding: 10px 15px;
    }
    nav ul li:hover::after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        transition: 0.3s;
        background-color: red;
    }
    nav ul li a {
        color: white;
        font-size: 1.1rem;
    }
    nav ul li:last-child {
        font-weight: 550;
    }
}

@media screen and (min-width: 1200px) {
    .container-flex {
        width: 100%;
        max-width: 1024px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


/* Membuat Margin Padding pada keseluruhan dengan nilai 0 */

* {
    margin: 0;
    padding: 0;
}


/* Membuat Scroll untuk Firefox Mozzila Khusus dengan Overflow-y untuk membuat bagian scrool dan pada bagian scrollbar-color memberikan warna sedangkan pada scroll-behavior untuk membrikan kecepatan atau ke lambatan */

html {
    overflow-y: scroll;
    scrollbar-color: #4756df #e63946;
    scroll-behavior: smooth;
}


/* ::-moz-scrollbar {
    width: 10px;
    color: aqua;
    height: 6px;
}

::-moz-scrollbar-track {
    border-radius: 50px;
    color: blue;
}

::-moz-scrollbar-thumb {
    border-radius: 50px;
} */


/* Membuat font pada bagian body  */

body {
    font-family: sans-serif;
    /* scroll-behavior: smooth; */
}


/* Bagain ini untuk mengatur bagian Navbar dengan display flex agar ketengah lalu baground  warna dan memberikan justify-content space around agar sama rata dan memberikan warna putih untuk warna font lalu memberikan tunggi height pada navbar dan memberikan align-items agar ketengah.  */


/* nav {
    display: flex;
    background-color: rgb(4, 40, 80);
    justify-content: space-around;
    color: white;
    height: 50px;
    align-items: center;
} */


/* Pada bagian ini mengatur bagian link dengan display flex agar rata dan ketengah dan memberikan list-style untuk menghilangkan tanda link menjadi hilang dan memeberikan ukuran 40% serta memberikan justify content agar mengatur jarak font */


/* nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
} */


/* Pada bagian ini mengatur link keseluruhan seperti warna font text decoration menghilangkan garis bawah pada link dan memberikanukuran font sangat kecil dengan 0.8em */


/* nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 0.8em;
} */


/* Memberikan Hover saat didekati dan diarahkan menjadi merah pada bagian link dan juga pada  icon */


/* 
nav ul li a:hover {
    color: red;
} */


/* 
.logo i:hover {
    color: red;
} */

.logo i {
    width: 20px;
    height: 20px;
    animation: animasivector 1.9s infinite;
    font-size: 70px;
}

@keyframes animasivector {
    0% {
        /* width: 20px; */
        color: red;
    }
    0% {
        /* width: 20px;
        height: 10px; */
    }
}


/* Mengatur bagian logo gambar dengan memberikan float agar pindah left ke kiri dan memberikan ukuran 90piksel */


/* nav img {
    float: left;
    height: 90px;
}
 */


/* Membuat dan mengatur pada bagian container-satu dengan padding 15px jarak pada content dan memberikam lebar auto dan tinggi 450, dan memberikan baground gambar dengan memebrikan url lalu memberikan baground size ialah untuk cover serta membuat baground position gambar otomatis cover, dan pada baground position mengatur bagian gambar naik turun nya danpada margin top ialah mengatur gambar keatas, sedangakan justify content dan text align  untuk mengatur ketengah kalimatnya*/

.container-satu {
    /* width: auto;
    height: auto; */
    padding: 15px;
    width: auto;
    height: 450px;
    background-image: url(img/1.jpg);
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    margin-top: -5px;
    justify-content: center;
    text-align: center;
}


/* Pada bagian container-satu  h1 mengatur ukuran dan warna */

.container-satu h1 {
    font-size: 40px;
    color: white;
}


/* Pada bagian ini membuat dan mengatur bagian h2 pada container-satu dan memberikan warna. serta memebrikan margin top untuk mengatur paragraf pada font. */

.container-satu h2 {
    font-size: 30px;
    color: white;
    margin-top: -15px;
}


/* Logo disini mengatur bagian jarak spasi dan warna serta membuat ukuran pada font. */

.logo {
    margin-top: 80px;
    color: white;
    font-size: 10px;
}

.brand img {
    height: 70px;
}


/* Pada bagian ini kita akan mengatur besar dan ketebalan nya serta warna */

.container-satu i {
    width: 100px;
    font-weight: 100px;
    color: wheat;
    margin-top: -10px;
}


/* Bagian ini mengatur bagian container 2 dalam ukuran lebar dan tinggi nya serta memberikan baground warna putih dan memberikan margin top untuk mengatur jarak, pada bagian padding left mengatur bagian ke kanan dan text align untuk mengatur ke bagian kiri serta justify contet  untuk ke kiri */

.container-dua {
    width: 1000;
    height: 500px;
    background-color: white;
    margin-top: 65px;
    padding-left: 50px;
    text-align: left;
    justify-items: left;
    /* border: 2px solid red; */
}


/* pada bagian  ini mengatur container-dua h1 untuk membuat font size mengatur ukuran dan memberikan font serta text agar kekiri  */

.container-dua h1 {
    font-size: 29px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: left;
    /* justify-self: left;
    align-self: flex-start; */
    /* border: 2px solid blue;
    width: 1100px;
    height: 200px; */
}


/* Membuat dan mengatur bagian p  yaitu paragraf serta menmberikan font dan margin top untuk memberikan kalimat ke atas.dan memberikan margin top untuk ke atas dan padding bottomke bawah. */

.container-dua p {
    font-size: 15px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-top: -10px;
    padding-bottom: 25px;
}

@media screen and (max-width: 600px) {
    .container-satu h1,
    .container-satu h2 {
        font-size: 25px;
        text-align: center;
        justify-content: center;
    }
    .container-dua h1,
    .container-dua p {
        font-size: 10px;
        color: black;
        text-align: center;
        position: relative;
        top: 120px;
        padding-right: 100px;
    }
    .container-dua h1 {
        line-height: 10px;
        text-align: center;
        justify-content: center;
        justify-items: center;
        margin-bottom: -40px;
        color: black;
        position: relative;
        top: 100px;
    }
    .container-dua img.gambar {
        margin-top: -90px;
    }
    .container-dua .gambar1,
    .container-dua .gambar2,
    .container-dua .gambar3,
    .container-dua .gambar4 {
        overflow: hidden;
        display: none;
    }
    .footerlink {
        display: none;
        overflow: hidden;
    }
    .container-dua .tmb {
        padding-bottom: 50px;
        padding: 5px 5px;
        border-radius: 5px;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-size: 10px;
        color: white;
        background-color: blue;
        text-decoration: none;
        position: relative;
        left: 115px;
        top: 120px;
    }
    /* .container-dua {
        overflow: hidden;
    } */
    .container-dua .gambar {
        position: relative;
        bottom: -60px;
    }
    .container-dua .tombol {
        background-color: red;
        position: relative;
        left: 30px;
        bottom: -660px;
    }
    .container-tiga .kamu {
        color: red;
        font-size: 10px;
        grid-template-columns: 1fr minmax(200px, 300px) 1fr;
    }
    .container-keempat .kontent-5 h1 {
        color: red;
        font-size: 30px;
        position: relative;
        text-align: end;
        left: 40px;
        top: 1px;
    }
    .container-keempat .kontent-5 p {
        color: black;
        font-size: 5px;
        text-align: center;
        position: relative;
        left: -80px;
        top: -30px;
        padding: 5px;
        width: bold;
    }
    .container-keempat h2 {
        color: #4756df;
        overflow: hidden;
        display: none;
    }
}


/* Mengatur bagian Tombol dengan memberikan padding bottom dan padding untuk memberikan ukuran pada tombol dan saat mengatur lengkungan kotak beri border-radiussan font huruf dan text decorition menghilangkan list bawah.  */

.tmb {
    padding-bottom: 100px;
    padding: 10px 4px;
    border-radius: 5px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 20px;
    color: white;
    background-color: rgb(14, 14, 231);
    text-decoration: none;
}


/* Memberikan hover cahaya dan font warna putih serta baground color merah*/

.tmb:hover {
    color: white;
    background-color: red;
}


/* Membuat dan mengatur lebar tinggi gambar  */

.container-dua img.gambar {
    width: 450px;
    height: 300px;
    float: right;
}


/* Mengatur bagian img.gambar1 untuk mengatur ukuran lebar tinggi dan float serta memberikan position agar dapat pindah serta left dan top. */

.container-dua img.gambar1 {
    width: 150px;
    height: 100px;
    float: right;
    position: relative;
    left: 440px;
    top: -30px;
}


/* Mengatur container-dua img.gambar yang dimana disini mengatur bagian gambar*/

.container-dua img.gambar2 {
    width: 100px;
    height: 100px;
    float: right;
    position: relative;
    left: 250px;
    bottom: -20px;
}


/* Mengatur container-dua img.gambar yang dimana disini mengatur bagian gambar dan bagian transform untuk memutarkan gambar*/

.container-dua img.gambar3 {
    width: 100px;
    height: 100px;
    float: right;
    position: relative;
    left: 700px;
    bottom: -150px;
    transform: rotate(-90deg);
}


/* Mengatur img.gambar4 yang dimana kali ini mengatur bagian gambar dengan posisi dan float */

.container-dua img.gambar4 {
    width: 80px;
    height: 80px;
    float: right;
    position: relative;
    left: 450px;
    bottom: -330px;
}


/* Mengatur bagian container yang dimana kali ini setting  tinggi dan lebarserta warna baground dan display grid agar membuat ke bawah dan membuat gtc gta pada konten agar terpanggil margin auto agar ketengah serta justify konten agar ketengah. */

.container-tiga {
    width: 1000;
    height: 555px;
    background-color: rgb(6, 6, 26);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-column: 1fr 1fr 1fr;
    grid-template-areas: "isi isi isi" "kontent-1 kontent-2 kontent-3";
    /* border: 10px solid green; */
    margin: auto;
    justify-content: center;
}

.tombol {
    padding: 15px 25px;
    border-radius: 15px;
    font-size: 20px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 10px;
    color: white;
    background-color: red;
    text-decoration: none;
    position: relative;
    bottom: -670px;
    right: inherit;
    left: 360px;
}


/* Mengatur bagian h1 pada container-tiga seperti ukuran font dan font bahkan membuat text align dan justify content agar ketengah dan mengatur warna color serta memberikan padding top dan posisi agar dapat merubah */

.container-tiga h1 {
    font-size: 40px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
    justify-self: center;
    /* align-self: flex-end; */
    color: red;
    padding-top: 30px;
    position: relative;
    bottom: 50px;
}


/* Membuat dan mengatur posisi p seperti bagian position bottom dan color */

.container-tiga p {
    position: relative;
    bottom: 35px;
    color: white;
}


/* Disini kita mengatur bagian isi konten Product yang dimana berisi warna text align max widt dan line-height ialah mengatur jarak baris agar mudah. */

.dia {
    color: white;
    /* padding-bottom: 450px; */
    text-align: center;
    max-width: 500px;
    line-height: 150%;
    text-align: center;
    /* padding-left: 344px; */
    grid-area: isi;
    margin: auto;
}

.kontent-1 {
    grid-area: kontent-1;
}

.kontent-2 {
    grid-area: kontent-2;
}

.kontent-3 {
    grid-area: kontent-3;
}

.container-tiga img {
    width: 100%;
    height: 135px;
    justify-content: center;
    box-shadow: 0px 0px 5px black;
    border-radius: 8px;
}

.container-tiga img:hover {
    transform: scale(1.1);
}

.container-tiga .aku:hover {
    transform: scale(1.1);
}

.aku {
    box-shadow: 0px 0px 10px black;
    max-width: 200px;
}

.kamu {
    display: inline-flex;
    margin: -50px auto;
    color: white;
    gap: 35px;
    font-size: 14px;
    text-align: center;
    position: relative;
    bottom: 30px;
}

.container-keempat {
    width: 1120px;
    height: 400px;
    margin: 40px;
    background-color: white;
    display: grid;
    padding-left: 30px;
    grid-template-columns: 16% 16%;
    grid-template-rows: 30% 30%;
    /* border: 2px solid red; */
}

.container-keempat img {
    width: 140px;
    height: 100px;
    box-shadow: 0px 0px 5px black;
    display: block;
    border: 5px solid black;
    margin: 10px;
    transition: 1s;
}

.container-keempat img:hover {
    transform: scale(1.1);
}

.container-keempat img :hover {
    transform: scale(0.5, 0.5);
}

.kontent-5 h1 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: red;
    font-weight: bold;
    font-size: 45px;
    position: relative;
    top: -300px;
    left: 370px;
}

.kontent-5 h2 {
    font-size: 28px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-top: 10px;
    padding-bottom: 25px;
    text-align: left;
    /* border: 2px solid red; */
    height: 100px;
    width: 500px;
    position: relative;
    top: -300px;
    left: 370px;
}

.kontent-5 p {
    font-size: 15px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-top: 30px;
    padding-bottom: 25px;
    text-align: left;
    line-height: 15px;
    /* border: 2px solid red; */
    height: 100px;
    width: 500px;
    position: relative;
    top: -300px;
    left: 370px;
}

footer {
    width: 1000;
    /* bagrond warna */
    background-color: rgb(6, 6, 26);
    /* display grid agar di panggil */
    display: grid;
    /* map di kiri footerlist tengah, footerlist kanan dengan ukuran 300px dan sosmed 100px .. dan 3 baris */
    grid-template: "map footerlink footerlink" 250px "sosmed kosong arah" 100px / 1fr 1fr 1fr;
    /* jarak */
    padding: 67px;
    /* varianfont */
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    box-sizing: content-box;
}


/* mengatur bagian map */

iframe {
    /* grid map */
    grid-area: map;
    /* lebar */
    width: 370px;
    /* tinggi */
    height: 250px;
    /* agar ke akhir */
    justify-self: end;
    /* agar ke akhir */
    align-self: end;
}


/* bagian link  */

.footerlink {
    /* panggil grid */
    grid-area: footerlink;
    /* agar ketengah */
    display: flex;
    /* jarak */
    justify-content: space-evenly;
    /* agar ke tengah */
    align-items: center;
}

.footerlink ul {
    /* menghilangkan list */
    list-style: none;
    /* warna */
    color: red;
}


/* mengatur judul */

.footerlink ul li p {
    /* ukuran font */
    font-size: 1.3em;
    /* ketebalan */
    font-weight: bold;
    /* spasi */
    line-height: 50px;
}

.footerlink ul li a {
    /* menghilangkan garis bawah */
    text-decoration: none;
    /* warna */
    color: #f1faee;
    line-height: 50px;
}


/* bagian sosmed */

.sosmed {
    /* ukuran besar */
    width: 370px;
    /* grid panggil */
    grid-area: sosmed;
    /* agar auto ketengah */
    display: flex;
    /* menggunakan jarak */
    justify-content: space-evenly;
    /* agar mepet di kanan */
    justify-self: end;
}

.arah .arahpanah {
    width: 370px;
    grid-area: arah;
    display: none;
    /* justify-content: end;
  justify-self: end; */
    color: red;
    position: fixed;
    right: -240px;
    bottom: 100px;
}

.arah .arahpanah.scroll-active {
    display: block;
}


/* setting icon*/

.sosmed i {
    /* set warna */
    color: #f1faee;
    /* agar tengah */
    justify-self: center;
    /* tengah horizontal */
    align-self: center;
}


/* hover */

.sosmed i:hover {
    /* awalnya 1.2 */
    transform: scale(1.2);
    /* lalu berubah 0.7 */
    transition: 0.7s;
    /* warna merah */
    color: #e63946;
}